* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

.header {
    width: 1540px;
    height: 62px;
    background-color: #232b46;
    .header-container {
        .header-nav {
            width: 90%;
            background-color: #232b46;
            margin: 0 auto;
            ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 0px;
                padding: 12px 220px 12px 0;
                li {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 10px;
                    list-style-type: none;
                    height: 38px;
                    .text {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        p {
                            color: #ccc;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        span {
                            color: grey;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                    .local-icon {
                        color: #f50;
                        height: 1.3em;
                        width: 1.3em;
                    }
                    .call-icon {
                        color: #4e7df1;
                        height: 1.3em;
                        width: 1.3em;
                    }
                    .circle {
                        height: 38px;
                        width: 38px;
                        border-radius: 100%;
                        background: whitesmoke;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        transition: 0.3s;
                        cursor: pointer;
                        span {
                            position: absolute;
                            left: 60%;
                            bottom: 70%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 16px;
                            height: 16px;
                            background: silver;
                            color: white;
                            border-radius: 100%;
                            font-size: 12px;
                            font-weight: 600;
                        }
                        .user-icon {
                            transition: 0.3s;
                            color: #f50;
                        }
                        .last-icon {
                            transition: 0.3s;
                        }
                    }
                    .circle:hover  {
                        box-shadow: 0 0 0 2px #4e7df1;
                        color: #4e7df1;
                        .user-icon {
                            color: #4e7df1;
                        }
                        .last-icon {
                            color: #4e7df1;
                        }
                    }

                }
               .first::after {
                content: '|';
                color: silver;
               }
               .second::before {
                content: '|';
                color: silver;
               }
               .second::after {
                content: '|';
                color: silver;
               }
               .third::before {
                content: '|';
                color: silver;
               }
            }
        }
    }
}



.under-header {
    margin-top: 20px;
    width: 1540px;
    height: 62px;
    .under-header-container {
        width: 90%;
        margin: 0 auto;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style-type: none;

                .catalog {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 45px;
                    border: 1px solid silver;
                    border-radius: 18px;
                    font-size: 24px;
                    padding: 0 20px;
                    transition: 0.3s;
                }
                .catalog:hover {
                    box-shadow: 0 0 0 2px #f50;
                }
                .header-search {
                    width: 691px;
                    height: 35px;
                    display: flex;
                    flex-direction: row;
                    border-radius: 18px;
                    border: 1px solid silver;

                    input {
                        width: 535px;
                        height: 35px;
                        padding: 0 50px 0 20px;
                        font-size: 18px;
                        border-radius: 18px 0 0 18px;
                        border: none;
                        transition: 0.6s;
                        outline-style: none;
                    }
                    input:focus {
                        width: 691px;
                        border-radius: 18px;
                        box-shadow: 0 0 0 2px #f50;
                    }
                }
                .cart {
                    display: flex;
                    gap: 15px;
                    .cart-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: whitesmoke;
                        position: relative;
                        width:  48px;
                        height: 48px;
                        border-radius: 100%;
                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 18px;
                            height: 18px;
                            border-radius: 100%;
                            background-color: rgb(212, 212, 212);
                            position: absolute;
                            bottom: 70%;
                            left: 70%;
                        }
                    }
                    p {
                        color: gray;
                    }
                }
            }
            .header-icons {
                display: flex;
                gap: 14px;
                color: silver;
            }
        }
    }
}