* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

footer {
    width: 1540px;
    background-color: #232b46;
    margin-top: 100px;
    .footer-container {
        .footer-nav {
            display: flex;
            justify-content: space-between;
            padding: 45px 35px;
            .first {
                color: #999fb3;
                p {
                    width: 315px;
                    height: 152px   ;
                    font-size: 13px;
                    letter-spacing: 0.2px;
                    margin: 20px 0;
                }
                .link {
                    gap: 5px;
                    .link-after::after {
                        content: '|';
                        padding-left: 10px;
                    }
                }
                a {
                    color: #767b8b;
                    text-decoration: underline;
                    padding: 0 5px;
                }
                a:hover {
                    color: #999fb3;
                }
            }
            .second {
                h3 {
                    color: #999fb3;
                    font-size: 22px;
                    padding-bottom: 10px;
                }
                li {
                    display: flex;
                    justify-content: flex-start;
                    padding: 5px 0;
                    a {
                        color: #767b8b;
                        font-size: 14px;
                    }
                    a:hover {
                        color: #999fb3;
                    }
                }
            }
            .third {
                h3 {
                    color: #999fb3;
                    font-size: 18px;
                    padding-bottom: 10px;
                }
                li {
                    padding: 5px;
                    a {
                        color: #767b8b;
                        font-size: 14px;
                    }
                    a:hover {
                        color: #999fb3;
                    }
                }
            }
            .fourth {
                h3 {
                    color: #999fb3;
                    font-size: 22px;
                    padding-bottom: 10px;
                }
                li {
                    padding: 7px;
                    display: flex;
                    gap: 10px;
                    color: #4e7df1;
                    span {
                        color: #767b8b;
                    }
                    a {
                        color: #767b8b;
                    }
                    .cont {
                        display: flex;
                        flex-direction: column;
                    }
                    a:hover {
                        color: #999fb3;
                    }
                }
            }
        }
        .underest {
            display: flex;
            justify-content: center;
            p {
                color: #767b8b;
                font-size: 14px;
                font-weight: 400;
                margin: 30px 0;
            }
        }
    }
}